---
import FancyLastWord from "../components/FancyLastWord.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout page="index" className="grid gap-8">
    <h1 class="place-self-center text-6xl">
        Page Non
        <FancyLastWord> Trouvée </FancyLastWord>
    </h1>

    <a href="/fr" class="block text-center text-xl">Retour à l'accueil</a>
</Layout>
