name: Run linter before merge

on:
    pull_request:
        branches:
            - main

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            # ...
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: 1.3.5
                  cache: true

            # run any `bun` or `bunx` command
            - run: bun install
            - run: bun lint && bun prettier:check
